/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}


body {
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

table {
  border-collapse: collapse;
}

ul,
ul li {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea,
select {
  color: inherit;
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Overall styles */

body {
  background-color: var(--body-bg-color);
  color: var(--paragraph-color);
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.hidden {
  display: none;
}

.light-mode {
  --block-border-color: #E5E7EB;
  --block-shadow-color: #E5E7EB;
  --body-bg-color: #F9FAFB;
  --heading-color: #1F2937;
  --paragraph-color: #374151;
  --section-color: #FFFFFF;
  --status-btn-bg-color: transparent;
  --status-btn-bg-color-hover: none;
  --status-btn-border-color: #D1D5DB;
  --table-border-color: #D1D5DB;
}

.dark-mode {
  --block-border-color: #1F2937;
  --block-shadow-color: none;
  --body-bg-color: #111827;
  --heading-color: #E5E7EB;
  --paragraph-color: #CDD3DF;
  --section-color: #1F2937;
  --status-btn-bg-color: #374151;
  --status-btn-bg-color-hover: #6B7280;
  --status-btn-border-color: none;
  --status-btn-text-color: #E5E7EB;
  --table-border-color: #6B7280;
}

/* Header styles */

.header {

  display: flex;
  justify-content: center;

  border-bottom: 1px solid var(--block-border-color);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;

  padding: 5px;
  height: calc(2rem + 10px);
  width: min(1200px, 95%);
}

.header__title-block {
  display: grid;
  gap: 10px;
  grid-template-columns: 2rem max-content;
  align-items: center;

  height: 100%;
}

.header__title-image {}

.header__title {
  color: var(--heading-color);
  font-weight: 500;
}

.header__change-theme-block {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header__change-theme-text {}

.header__change-theme-btn {
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
  height: 1.5rem;
  width: 1.5rem;
}

.header__change-theme-sun-icon:hover {
  fill: #374151;
}

.header__change-theme-moon-icon {}

/* Main styles */

.main {
  margin: 0 auto;
  width: min(1200px, 95%);
}

.library-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
}

.library-header__title {
  color: var(--heading-color);
  font-size: 3rem;
  font-weight: 700;
}

.library-header__statistics-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.library-header__statistics-title {
  color: var(--heading-color);
  font-size: 1.5rem;
  font-weight: 500;
}

.library-header__statistics-text {}

.library-body {
  background-color: var(--section-color);
  border-radius: 7.5px;
  box-shadow: 0 0 7.5px var(--block-shadow-color);

  padding: 1rem;
}

.library-body__header {
  display: flex;
  justify-content: flex-end;
}

.library-body__add-book-btn {
  appearance: none;
  background-color: #0f766e;
  border-radius: 0.5rem;
  color: #FFFFFF;
  cursor: pointer;

  border: none;
  padding: 0.5em 1em;
}

.library-body__add-book-btn:hover {
  background-color: #115E59;
}

.library-body__table-wrapper {
  overflow-x: auto;
  padding: 1rem;
}

.library-body__table {
  table-layout: fixed;
  min-width: 100%;
}

.library-body__table-row {
  border-bottom: 1px solid var(--table-border-color);
}

.library-body__table-element {
  padding: 1rem;
}

.library-body__table-element:not(:nth-of-type(4), :last-of-type) {
  border-right: 1px solid var(--table-border-color);
}

.library-body__table-title {
  color: var(--heading-color);
  font-size: 1.15rem;
  font-weight: 700;
  text-align: left;
}

.library-body__table-title:nth-of-type(1) {
  min-width: 20ch;
}

.library-body__table-title:nth-of-type(2) {
  min-width: 15ch;
}

.library-body__table-title:nth-of-type(5) {
  text-align: center;
}

.library-body__status-btn {
  appearance: none;
  background-color: var(--status-btn-bg-color);
  border-radius: 0.5rem;
  color: var(--status-btn-text-color);
  cursor: pointer;

  border: 1px solid var(--status-btn-border-color);
  padding: 0.5em 0;
  width: 6rem;
}

.library-body__status-btn:hover {
  background-color: var(--status-btn-bg-color-hover);
}

.library-body__remove-book-btn {
  appearance: none;
  background-color: transparent;
  cursor: pointer;

  border: none;
  height: 1.5rem;
  width: 1.5rem;
}

.library-body__remove-book-icon {}